.outside {
	display: flex;
	justify-content: center;
	align-items: center;
}

.inside {
	width: 150px;
	height: 100px;
}

.player-wrapper {
	position: relative;
	padding-top: 56.25%;
	/* Player ratio: 100 / (1280 / 720) */
}
.player-wrapper-vimeo {
	text-align: center;
}

.react-player {
	position: absolute;
	top: 0;
	left: 0;
}
.thumbnail {
	width: 100%;
}

.btn {
	padding: 0 !important;
}
